In [1]:
import pandas as pd
import numpy as np

# Dataset awal
data = {
    'id': [1, 2, 3, 4, 4, 5, 6, 7, 8],
    'age': [25, np.nan, 35, 40, 40, 22, 50, 150, 29],  # Missing value & outlier
    'income': [50000, 54000, np.nan, 65000, 65000, 58000, 72000, 69000, 58000],  # Missing value & duplikat
    'city': ['New York', 'new york', 'Los Angeles', 'Chicago', 'Chicago', 'Boston', np.nan, 'Austin', 'Boston'],  # Inkonsistensi
    'purchase': [1000, 1200, 1300, np.nan, 1300, 1100, 900, 1250, 1100]  # Missing value
}

# Membuat DataFrame
df = pd.DataFrame(data)

# 1. Menangani Missing Values
# Mengisi missing value pada kolom 'age' dengan median
df['age'] = df['age'].fillna(df['age'].median())

# Mengisi missing value pada kolom 'income' dengan mean
df['income'] = df['income'].fillna(df['income'].mean())

# Mengisi missing value pada kolom 'purchase' dengan forward fill
df['purchase'] = df['purchase'].fillna(method='ffill')

# 2. Menghapus Duplikat
df_cleaned = df.drop_duplicates()

# 3. Mengatasi Outlier
# Menghapus outliers di kolom 'age' (misalnya, batas wajar antara 18 dan 100 tahun)
df_cleaned = df_cleaned[(df_cleaned['age'] >= 18) & (df_cleaned['age'] <= 100)]

# 4. Menangani Inkonsistensi Data pada kolom 'city'
# Mengubah semua teks di kolom 'city' menjadi huruf kecil (lowercase)
df_cleaned['city'] = df_cleaned['city'].str.lower()

# 5. Mengisi missing value pada kolom 'city' dengan 'unknown'
df_cleaned['city'] = df_cleaned['city'].fillna('unknown')

# Menampilkan hasil setelah data cleaning
print(df_cleaned)

   id   age   income         city  purchase
0   1  25.0  50000.0     new york    1000.0
1   2  37.5  54000.0     new york    1200.0
2   3  35.0  61375.0  los angeles    1300.0
3   4  40.0  65000.0      chicago    1300.0
5   5  22.0  58000.0       boston    1100.0
6   6  50.0  72000.0      unknown     900.0
8   8  29.0  58000.0       boston    1100.0

<ipython-input-1-fde56c3e3b10>:24: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['purchase'] = df['purchase'].fillna(method='ffill')